<!-- Page Header -->
    <header class="masthead" style="background: url(img/banner.jpg) center top no-repeat; padding-bottom:650px;">
    
    <div class="centered"><h1><span style="color:#fea61e!important;font-size: 34px !important;">Buy</span> or <span style="color:#fea61e!important;font-size: 34px !important;">Sell</span> new or <span style="color:#fea61e!important;font-size: 34px !important;">used</span> textbooks</h1>
    <h3 class="belowT">compares price from 100s of bookshops all in 1 location</h3>
    {{!-- <p style="text-align:center">

    <span>Sell/Rent</span> / <span>Buy/Borrow</span> / <span >Compare Prices</span> 
    </p> --}}
    <p>
       <div class="input-group input-group-newsletter">
                <input type="email" class="form-control" placeholder="Search Here..." aria-label="Enter email..." aria-describedby="basic-addon">
                <div class="input-group-append">
                  <button class="btn btn-secondary ff" type="button">Find Books</button>
                </div>
    </p>
    <p style="padding-top:10px;">
      When a textbook is not yet available on-campus by another student we show you the cheapest 
price online amongst many bookstores.
    </p>
    </div>
      <div class="overlay"></div>
      <div class="container">
        <div class="row"></div>
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1></h1>
              <span class="subheading">


              </span>
            </div>
          </div>
          
        </div>
      </div>
      

                   
    </header>


  <div class="services">
       <div class="container">
    <h1>Our Services</h1>
    <h2><img src="img/heading.png" alt=""> </h2>
    <div class="row">
   
  <div class="col-md-6">
    <div class="service-image"><img src="img/services1.png" alt="" class="img-responsive"> </div>
  </div>
  <div class="col-md-6">
    <div class="service-text">
      <h1>Buy Textbooks</h1>
    Compare new, used and rental prices and save up to 90%. There is huge savings to be made this semester by using BookaByte to find the cheapest textbooks online.
You can either:
<ul>
  <li>Buy from other student on-campus: Can’t find what you looking for? No worries! You can also:</li>
  <li>Buyfrom hundreds of online bookstores all in one location</li>
</ul>	
</div>
  </div>
  <div class="row" style="margin-top:25px;">
   
 
    
   <div class="col-md-6">
    <div class="service-text">
      <h1>Why Buy via BookaByte?</h1>
      <ul>
  <li>Compare prices from 100s of bookstores </li>
  <li>Pay less for your textbooks</li>
  <li>Save HUGE! You save up to 90% </li>
  <li>Find books from multiple site in just 1 search</li>
  <li>Assess hundreds of books in one simple click </li>
</ul>	

    </div>
  </div>
   <div class="col-md-6">
  <div class="service-image"><img src="img/services2.png" alt="" class="img-responsive"> </div>
  </div>
   <div class="row" style="margin-top:25px;">
   
  <div class="col-md-6">
    <div class="service-image"><img src="img/services3.png" alt="" class="img-responsive"> </div>
  </div>
   <div class="col-md-6">
    <div class="service-text">
      <h1>Sell Textbooks</h1>
      There is even more savings to be made. Don’t let your old textbooks sit on the shelf gathering dust. Why not exchange them for some extra cash?
      <li>	You can sell directly to other students on-campus by listing them on BookaByte or</li>
      <li>Our partner bookstores compete to buy your used textbooks. We help you sell them to our affiliate bookstores. Before going to your Uni or College bookshop to sell your used textbooks, check out our partner buyback price comparison and get the highest offer for your books. </li>
      </div>
  
  </div>
  </div>
  <div class="row" style="margin-top:25px;">
   
 
    
   <div class="col-md-6">
    <div class="service-text">
      <h1>Why Sell via BookaByte?</h1>
      <ul>
  <li>Its quick and simple</li>
  <li>Our partner bookstores compete to buy your books</li>
  <li>You select the best buyback price from competing stores</li>
  <li>We’re Australia’s 1 book comparison site</li>
  <li>It’s absolutely free </li>
</ul>	

    </div>
  </div>
   <div class="col-md-6">
  <div class="service-image"><img src="img/services2.png" alt="" class="img-responsive" style="margin-left:35px;"> </div>
  </div>
  
  </div>
  </div>
</div></div></div></div>
 <div class="services">
   <div class="row">
       <div class="container">
    <h1>Feature Textbook</h1>
    <h2><img src="img/heading.png" alt=""> </h2>
   
    <div class="feauture-product">
      <ul>
        <li style="margin-left: -30px;"><h1 ><img src="img/product1.jpg" alt="" class="img-responsive"></h1>
        <span>CONVERSATIONS SOCRATES<br>(PENGUIN CLASSICS)</span>
        <strong>$12.00</strong>
        <a href="#">View Detail</a>
        </li>
        <li style="padding-left:50px;" ><h1><img src="img/product2.jpg" alt="" class="img-responsive"></h1>
        <span>CONVERSATIONS SOCRATES<br>(PENGUIN CLASSICS)</span>
        <strong>$12.00</strong>
        <a href="#">View Detail</a>
        </li>
        <li style="padding-left: 67px;"><h1><img src="img/product3.jpg" alt="" class="img-responsive"></h1>
        <span>CONVERSATIONS  SOCRATES<br>(PENGUIN CLASSICS)</span>
        <strong>$12.00</strong>
        <a href="#">View Detail</a>
        </li>
         <li style="padding-left: 66px;"><h1><img src="img/product4.jpg" alt="" class="img-responsive"></h1>
       <span>CONVERSATIONS  SOCRATES<br>(PENGUIN CLASSICS)</span>
        <strong>$12.00</strong>
        <a href="#">View Detail</a>
        </li>
      </ul>
      
  </div>
  
    
 </div>
 <div class="view">
      <a href="#">View All</a></div>
    </div>
    <div class="newsletter" style="background: url(img/newsletter.jpg) left top no-repeat;padding-top: 20px; padding-bottom: 65px;">
    <div class="container">

<h1>Sign up free today!</h1>
<p>When a textbook is not yet available on-campus by another student, we show you<br>
 the cheapest price online amongst many bookstores.</p>
 <input type="text" class="form-control" id="usr" style="width:50%; margin:0 auto; display:none" placeholder="Enter Email Here">
 <p><a href="/users/join" target="_blank">Sign up here</a></p>
 </div>
    </div>
    <!-- Section: Testimonials v.3 -->
<section class="team-section text-center " >
  <div class="container">

  <!-- Section heading -->
 <div class="services">
   <div class="row">
       <div class="container">
    <h1 style="padding-top:0">Feature Textbook</h1>
    <h2><img src="img/heading.png" alt=""> </h2>
  <!--Grid row-->
  <div class="row text-center" style="margin-top:25px">

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="img/testimonial1.png" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
        <h6 class="font-weight-bold blue-text my-3" style="color: #ff890e">Chicago</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-half-full"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-md-0 mb-5">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="img/testimonial2.png" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
        <h6 class="font-weight-bold blue-text my-3" style="color: #ff890e">New York</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <div class="testimonial">
        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="img/testimonial3.png" class="rounded-circle z-depth-1 img-fluid">
        </div>
        <!--Content-->
        <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
        <h6 class="font-weight-bold blue-text my-3" style="color: #ff890e">San Francisco</h6>
        <p class="font-weight-normal dark-grey-text">
          <i class="fa fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
        <!--Review-->
        <div class="orange-text">
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star"> </i>
          <i class="fa fa-star-o"> </i>
        </div>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
</div>
</section>
<!-- Section: Testimonials v.3 -->
<div class="services" style="background:#000">
   <div class="row">
       <div class="container">
    <h1 style="color:#fff;">Polular Searches</h1>
    <h2><img src="img/heading.png" alt=""> </h2>
   
    <div class="feauture-product">
      <ul>
        <li style="margin-left: -30px;"><h1 ><img src="img/product1.jpg" alt="" class="img-responsive"></h1>
        <span style="color:#fff">CONVERSATIONS SOCRATES<br>(PENGUIN CLASSICS)</span>
        <strong>$12.00</strong>
        <a href="#" style="background-color:#cc6e0c">View Detail</a>
        </li>
        <li style="padding-left:50px;" ><h1><img src="img/product2.jpg" alt="" class="img-responsive"></h1>
        <span style="color:#fff">CONVERSATIONS SOCRATES<br>(PENGUIN CLASSICS)</span>
        <strong>$12.00</strong>
        <a href="#" style="background-color:#cc6e0c">View Detail</a>
        </li>
        <li style="padding-left: 67px;"><h1><img src="img/product3.jpg" alt="" class="img-responsive"></h1>
        <span style="color:#fff">CONVERSATIONS  SOCRATES<br>(PENGUIN CLASSICS)</span>
        <strong>$12.00</strong>
        <a href="#" style="background-color:#cc6e0c">View Detail</a>
        </li>
         <li style="padding-left: 66px;"><h1><img src="img/product4.jpg" alt="" class="img-responsive"></h1>
       <span style="color:#fff">CONVERSATIONS  SOCRATES<br>(PENGUIN CLASSICS)</span>
        <strong>$12.00</strong>
        <a href="#" style="background-color:#cc6e0c">View Detail</a>
        </li>
      </ul>
      
  </div>
  
    
 </div>
 <div class="view">
      <a href="#">View All</a></div>
    </div></div>
