<link rel="stylesheet" href="/css/style2.css"> 
<div class="login" style="width:100%;background: url(/img/library.png) center top no-repeat; background-size:100%;">
    <div class="row"style="padding-bottom:0px">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5" style="margin-top:100px !important;margin-bottom: 2rem !important;">
          <div class="card-body" >
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" method="post" action="/users/login">
              <div class="form-group">
       <label>Email Address</label>
       <input type="text" class="form-control" placeholder="Email Address" name="email">
   </div>

              <div class="form-group">
       <label>Password</label>
       <input type="password" class="form-control" placeholder="Password.." name="password">
   </div>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
             <a href="/users/google"><button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button></a> 
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>